/*** PORTFOLIO STYLES-----------V.1 ***/


/* SITE COLORS */






/* SITE STYLES */

body {
	background-color: #000080;
	padding: 25px;
	-webkit-columns: 300px 2;
	        columns: 300px 2;
}

.box a {
		display: block;
		padding: 5px;
	}